<div class="d-flex gap-3 company-card-header">
    <img src="@Model.Logo" alt="@Model.Name Logo" class="company-logo" />
    <div class="company-info">
        <a href="@Url.Action("Details", "Company", new { id = Model.Id })" class="company-name">@Model.Name</a>
        <p class="location"><i class="fas fa-map-marker-alt"></i> @(string.IsNullOrEmpty(Model.Location) ||
            Model.Location.ToLower() == "unknown" ? "Remote" : Model.Location)</ p >
    </div>
</div>
<style>
    .company-card-header {
        padding: 1.5rem;

    }

    .company-logo {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .company-info .company-name {
        margin: 0;
        font-size: 18px;
        color: #333;
        font-weight: bold;
        text-decoration: none;
    }

    .location {
        font-size: 14px;
        color: #666;
        margin-top: 5px;
    }

    .location i {
        margin-right: 5px;
    }
</style>
